*{
    padding: 0;
    margin: 0;
    text-decoration:none ;
    color: black;
}

#header, #footer{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: green;
    align-items: center;
    padding: 10px;
}
img {
    height: 40px;
}
a+a{
    margin-left: 20px;
    color: ;
}