* {
    padding: 0;
    margin: 0;
    text-decoration: none;
  }

  body {
    height: 200vh;
  }

  div {
    height: 70vh;
    background-color: green;
    margin: 40px;
  }

  p {
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 30px 50px;
  }

  #p1 {
    background: red;
    postion:relative;
    top:50px;
    
    
  }

  #p2 {
    background: blue;
  }