*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.card {
    background: grey;
    border: 4px solid black;
    margin: 15px;
    border-radius: 8px;
    color: white;
}
.card  > a{
    background-color: rgb(51, 204, 51);
    padding: 8px 40px;
    display: inline-block;
    margin: 10px;
    border-radius: 999px;
}
.card > img{
    width: 100%;
}