*{
    padding: 0px;
    margin: 0px;
}

div {
    background: red;
    padding : 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
}

div > * {
    background: yellow;
    margin :10px;
}