*{
    padding: 0;
    margin: 0;

}
.cover{
    width: 100%;
    max-width: 500px;
    align-self: center;
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1{
    font-size: 40px;
}
.price{
    font-size: 28px;
}
.description{
    font-size: 16px;
    color: gray;
}
h1, .price , .description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    border: none;
    background-color: blue;
    color: white;
    font-size: 20px;
    padding:15px 40px ;
    border-radius: 5px;
    align-self: center;
}
#details{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:15px;
}
#cont{
    display: flex;
    flex-direction: column;

}
.thumbnails >img{
    min-width: 0;
}
@media (min-width:720px) {
    #cont{
        flex-direction: row-reverse;
        border: 2px solid gray;
        border-radius: 20px;
        padding: 30px;
        margin: 10px;
    }    

    #details{
        width: 60%;
    }
    button{
        align-self: flex-start;
    }
    .image{
        width: 40%;
    }
    /* .thumbnails{
        display: flex;
        gap: 5px;
    } */
}