*{
    padding: 0;
    margin: 0;

}
h1{
    color:blue;
}
@media (min-width:500px) and (max-width:800px){
    h1{
        color: red;
    }
}
@media (orientation:portrait){
    h1{
        color: black;
    }
}