*{
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}
.red{
    background: red;
}
.green{
    background: green;
}
.blue{
    background:blue;
}
.one{
    background:lightpink;
}
.two{
    background:yellow;
}
.three{
    background: hotpink;
}
.four{
    background:purple;
}
.five{
    background: navajowhite;
}