*{
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}
.red{
    background: red;
}
.green{
    background: red;
}
.blue{
    background: red;
}
.{
    background: red;
}
.red{
    background: red;
}
.red{
    background: red;
}
.red{
    background: red;
}
.red{
    background: red;
}