*{
    padding: 0px;
    margin: 0px;
}

/* div {
    background: red;
    padding : 10px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: flex-start;
}

div > * {
    background: yellow;
    margin :10px;
} */

div{
    background: red;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
p{
    background: yellow;
    margin: 10px;
    padding: 10px;
    height: 300px;
    width: 300px;
}