@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: #33cc33;
}

#header {
  background: black;
}

#footer {
  background: url("https://codeyogi.io/footer.jpg");
  text-align: right;
}

#header a+a,
#footer a+a {
  margin-left: 30px;
}

.link-box {
  border: 4px solid #33cc33;
  display: inline-block;
  padding: 5px;
  
}

#header,
#footer {
  padding: 20px;
}

#main {
  padding: 60px 0px 60px 20px;
  min-height: calc(100vh - 152px);
  box-sizing: border-box;
  background: url("https://codeyogi.io/coffee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

h1 {
  font-size: 80px;
  font-family: Tahoma, Verdana, sans-serif;
  background: rgba(255,0,0,0.5);
}

.mainheading {
  margin-bottom: 60px;
}

p {
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
}

p+p {
  margin-top: 10px;
}

.other-course {
  border: 2px solid #33cc33;
  padding: 14px;
  display: inline-block;
  border-radius: 10px;
}

#header a {
  font-family: Tahoma, Verdana, sans-serif;
}

.focus {
  font-weight: bold;
}